# `npm` will refuse to install any package that claims
# to not be compatible with the current Node.js version.
#
# This can be overridden by setting the --force flag.
# https://docs.npmjs.com/cli/v8/using-npm/config#engine-strict
# engine-strict=true

# Opt into non-backwards-compatible lockfile format
# https://docs.npmjs.com/cli/v8/using-npm/config#lockfile-version
# lockfile-version=3

# Adjust log level
# https://docs.npmjs.com/cli/v8/using-npm/config#loglevel
loglevel="warn"

# Disable audit reports
# https://docs.npmjs.com/cli/v8/using-npm/config#audit
audit=false

# Disable funding message
# https://docs.npmjs.com/cli/v8/using-npm/config#fund
fund=false

# Ignore peerDependencies when building a package tree
# NOTE: Use of legacy-peer-deps is not recommended!
# https://docs.npmjs.com/cli/v8/using-npm/config?v=true#legacy-peer-deps
legacy-peer-deps=true